.heading{
  color: rgb(0, 17, 255);
  background-color: aquamarine;
  text-align: center; /* left, right, center */
  text-decoration-line: underline; /* overline, line-through, underline */
  text-decoration-color: rgb(255, 0, 0);
  text-decoration-style: solid; /*solid, double, dotted, dashed, wavy */
  text-decoration-thickness: 2px;
  text-transform: capitalize; /* lowercase, uppercase, capitalize */
}

.label{
  background-color: rgb(252, 0, 0);
  text-align: center;
  text-decoration: underline black wavy 2px;
}

/* This css is used to add background color for body */
/* .root{
  background-color: cyan;
} */

.paragraph{
  text-indent: 200px;
  letter-spacing: 5px;
  word-spacing: 20px;
  line-height: 2.5; 
  font-size: 24px;
  font-family: 'Dancing Script', cursive;
}

.box{
  width: 500px;
  height: 200px;
  background-color: chocolate;
}

.rectangle{
  width: 50vw;
  height: 50vh;
  background-color: blueviolet;
}

.percent{
  width: 50%;
  height: 50%;
  background-color: black;
  overflow: auto; /*visible, hidden, scroll, auto */
}

.white{
  color: white;
}

.heading-border{
  /* border-style: solid;
    border-width: 2px;
    color: blue;
    border-color: red; */
    border-radius: 24px;
    border: 3px solid red;
    font-weight: normal;
    font-style: italic;
}

.different-border{
  border-left-style: double;
  border-top-style: dashed;
  border-top-width: 7px;
  border-left-color: red;
}

.square{
  width: 100px;
  height: 100px;
  border-style: solid;
  border-color: blue;
  border-radius: 65px;
}

.icon-color{
  color: red;
  font-size: 30px;
}