.main-body{
  margin: 0px;
}

.overall-container{
  border: 2px solid red;
  height: 100vh;
  box-sizing: border-box;
}

.heading-container{
  border: 2px solid red;
  height: 35%;
  margin: 15px;
  display: flex;
  flex-direction: row;
}

.text-container{
  border: 2px solid red;
  height: 20%;
  margin: 15px;
}

.image-container{
  border: 2px solid red;
  height: 35%;
  margin: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.heading-image{
  border: 2px solid blue;
    height: 100%;
    width: 25%;
    box-sizing: border-box;
}

.heading-section{
  border: 2px solid blue;
  height: 100%;
  width: 75%;
  box-sizing: border-box;
}

.topic-section{
  border: 2px solid red;
    height: 40%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

.paragraph-section{
  border: 2px solid red;
  height: 60%;
  box-sizing: border-box;
}

.circle-image{
  border: 2px solid;
    width: 10%;
}

.header-info{
  border: 2px solid;
  width: 75%;
}

.date-info{
  border: 2px solid;
    width: 15%;
}

.main-header-info{
  border: 2px solid red;
  height: 50%;
  box-sizing: border-box;
}

.sub-header-info{
  border: 2px solid red;
  height: 50%;
  box-sizing: border-box;
}

.section-image{
  border: 2px solid blue;
  width: 25%;
}

.banner-image{
  border: 2px solid red;
    height: 60%;
    box-sizing: border-box;
}

.banner-heading{
  border: 2px solid red;
  height: 20%;
  box-sizing: border-box;
}

.banner-sub-heading{
  box-sizing: border-box;
  border: 2px solid red;
  height: 20%;
}

@media only screen and (min-width : 0px) and (max-width: 420px){
  .image-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 90vh
  }

  .section-image{
    width: 80%;
    height: 30%;
    margin-top: 15px;
  }

  .overall-container{
    border: none;
  }

  .heading-container{
    height: 80vh;
    flex-direction: column;
  }

  .heading-image{
    width: 100%;
  }

  .heading-section{
    width: 100%;
  }

  .date-info{
    width: 25%;
  }

  .paragraph-section{
    height: 50%;
  }

  .topic-section{
    height: 50%;
  }

  .circle-image{
    width: 25%;
  }
}