.heading{
  color: red;
  font-size: 24px;
  font-family: sans-serif;
}

body{
  margin: 0px;
}

.header{
  height: 10vh;
  border: 3px solid;
  display: flex;
}

.content{
  height: 80vh;
  border: 3px solid black;
}

.footer{
  height: 8vh;
  border: 3px solid;
}

.logo{
  height: 100%;
  border: 3px solid red;
  width: 20%;
  box-sizing: border-box;
}

.screens-link{
  height: 100%;
  width: 80%;
  border: 3px solid red;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.link{
  font-size: 24px;
  color: black;
  text-decoration: none;
  font-weight: bolder;
}

.image{
  width: 400px;
}

.hightlight-link{
  color: red;
  text-shadow: 3px 3px 4px gray;
}

.wrapper{
  height: 86%;
    border: 3px solid blue;
    display: flex;
}

.sidebar{
  border: 3px solid blue;
  width: 20%;
}

.sub-content{
  border: 3px solid blue;
  width: 80%;
}

.sidebar-link{
  height: 15%;
  border: 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-vertical-center{
  display: flex;
  align-items: center;
}

.label{
  font-size: 20px;
  width: 170px;
}

.textbox{
  font-size: 20px;
}